/*

filename: Lab04

author: Dante Rosini 

created: 27 March 

last modified: 27 March 

description: lab04.html

*/

* {
    font-family: calibri, sans-serif;
    color: #2F4F4F;
}

h1 {
    color: purple;
    font-size: 2em;
    font-weight: bold;
}

h2 {
    color: rgb(0, 128, 128);
    font-size: 1.5em;
    font-weight: bold;
}

aside,
footer {
    font-style: italic;
}

h1,
h2,
h3 {
    font-family: Arial, sans-serif;
}

table,
th,
td {
    border: 1px solid black;
}

#images {
    text-align: center;
}

#heading {
    color: red
}

.special {
    color: darkorange;
    font-weight: bold;
}

.right {
    text-align: right;
}